<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!-- Carrega as tags estáticas do Django -->
    <meta charset="UTF-8">
    <!-- Outros meta tags e links -->
    <title>{% block title %}Meu Site{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS Externo -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <!-- Conteúdo da navbar -->
    </nav>

    <!-- Contêiner principal -->
    <div class="page-container">
        <!-- Imagem lateral esquerda -->
        <div class="lateral-image left-image"></div>

        <!-- Contêiner para os botões -->
        <div class="top-buttons">
            <a href="{% url 'home' %}" class="button-text">Página Inicial</a>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="button-text" style="border: none; background: none; cursor: pointer;">Sair</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="button-text">Login</a>
            {% endif %}
        </div>
        

        <!-- Conteúdo principal -->
        <div class="content-container">
            <div class="container center-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <!-- Imagem lateral direita -->
        <div class="lateral-image right-image"></div>
    </div>

    <!-- Scripts JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Outros scripts -->
</body>
</html>
