<!-- links/templates/home.html -->

{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h1>Bem-vindo(a) ao nosso site!</h1>

{% if user.is_authenticated %}
    <p>Olá, {{ user.username }}!</p>
    {% if pagina %}
        <!-- Se o usuário já possui uma Página de Produtos -->
        <p>
            <a href="{% url 'visualizar_pagina_produto' pagina_id=pagina.id %}" class="button">Minha Página de Produtos</a>
        </p>
    {% else %}
        <!-- Se o usuário ainda não criou uma Página de Produtos -->
        <p>
            <a href="{% url 'criar_pagina_produto' %}" class="button">Criar Minha Página de Produtos</a>
        </p>
    {% endif %}
{% else %}
    <p>Você não está logado.</p>
    <p><a href="{% url 'login' %}">Login</a> ou <a href="{% url 'register' %}">Registre-se</a> para começar.</p>
{% endif %}

{% endblock %}
