<!-- links/templates/home.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="jumbotron text-center mt-4">
    <h1 class="display-4">Bem-vindo(a) ao nosso site!</h1>
    {% if user.is_authenticated %}
        <p class="lead">Olá, {{ user.username }}!</p>
        <p>
            <a href="{% url 'minhas_paginas' %}" class="button-text btn-lg" style="background-color: #8a908a;">Ver Minhas Páginas</a>
            <a href="{% url 'criar_pagina_produto' %}" class="button-text btn-lg" style="background-color: #8a908a;">Criar Nova Página de Produtos</a>
        </p>
    {% else %}
        <p class="lead">Você não está logado.</p>
        <p>
            <a href="{% url 'login' %}" class="button-text btn-lg" style="background-color: #8a908a;">Login</a>
            <a href="{% url 'register' %}" class="button-text btn-lg" style="background-color: #8a908a;">Registrar</a>
        </p>
    {% endif %}
</div>

<!-- Imagem para dispositivos móveis -->
<div class="mobile-bottom-image">
    <img src="{% static 'images/background5.jpg' %}">
{% endblock %}

