<!-- links/templates/minhas_paginas.html -->

{% extends 'base.html' %}

{% block title %}Minhas Páginas{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Minhas Páginas</h2>

    <div class="row">
        {% for pagina in paginas %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ pagina.titulo }}</h5>
                    <p class="card-text">{{ pagina.descricao }}</p>
                    <a href="{% url 'visualizar_pagina_produto' pagina.id %}" class="btn btn-primary">Ver Página</a>
                    <a href="{% url 'editar_pagina_produto' pagina.id %}" class="btn btn-secondary">Editar Página</a>
                    <a href="{% url 'gerar_qrcode' pagina.id %}" class="btn btn-info">Gerar QR Code</a>
                    <!-- Botão de excluir -->
                    <a href="{% url 'excluir_pagina_produto' pagina.id %}" class="btn btn-danger mt-3">Excluir Página</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Você ainda não criou nenhuma página.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
