{% extends 'base.html' %}

{% block title %}Página de Produtos: {{ pagina.titulo }}{% endblock %}

{% block content %}
<div class="container mt-0"> <!-- Alterado de mt-4 para mt-1 para reduzir o espaço -->
    <h2>{{ pagina.titulo }}</h2>
    <br>

    <ul class="list-unstyled">
        {% for link in pagina.links.all %}
        <li class="media mb-4 d-flex align-items-center justify-content-between">
            <div class="media-body d-flex align-items-center">
            <h5 class="mt-0 mb-1">{{link.nome_produto }}</h5>
                <a href="{{ link.url }}" target="_blank" class="ml-3" style="margin-left: 10px;">Ver Produto</a>
            </div>
            {% if link.imagem_url %}
                <img src="{{ link.imagem_url }}" alt="{{ link.nome_produto }}" class="ml-3 img-thumbnail" style="width: 100px; height: auto;">
            {% endif %}
        </li>
        {% empty %}
        <li>Nenhum produto adicionado ainda.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
